
#agenda.container{
  --max-width: 85em;
  max-width: var(--max-width);
  width: calc(100% - 15.5rem * 2);
  margin-inline: auto;
  gap: 2rem;
  padding-inline: 5rem;
  padding-block: 5rem;
}

#agenda .agenda-header{
  gap: .75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  & h1{
    color: var(--content-primary);
    font-family: var(--ff-inter-tight);
    line-height: 2rem;
    font-weight: var(--fw-bold);
    font-size: var(--fs-lg);
  }
  & p{
    color: var(--content-secondary);
  }
}

#agenda .agenda-list{
  display: flex;
  flex-direction: column;
  gap: .75rem;
   & .list-section{
    background-color: var(--background-tertiary);
    border-radius: .625rem;
    & header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: .75rem;
      padding-block: 1.5rem;
      padding-inline: 1.25rem;
      border-bottom: 1px solid var(--border-primary);
      & h2{
        margin-right: auto;
        font-size: var(--fs-base);
        font-weight: var(--fw-bold);
        color: var(--content-primary);
      }
      & span{
        font-size: var(--fs-base);
        font-weight: var(--fw-bold);
        color: var(--content-secondary);
      }
    }
    & ul{
      gap: .125rem;

      display: flex;
      flex-direction: column;

      & li{
        margin-inline: 2rem;
        display: grid;
        align-items: center;
        justify-self: center;
        gap: 1rem;
        padding: 2rem;
        grid-template-columns: auto 10% 20% 30% 30%;
        & .hour{
          color: var(--content-primary);
        }
        & .animal-name{
          text-align: end;
          color: var(--content-primary);
          padding-right: 1rem;
          border-right: 1px solid var(--border-primary);
        }
        & .client-name{
          text-align: start;
          color: var(--content-secondary);
        }
        & .service-description{
          color: var(--content-secondary);
        }
        & button[type="reset"]{
          color: var(--content-tertiary);
          background-color: transparent;
          border-bottom: 1px solid transparent;
          transition: color .2s ease-in;
          &:hover{
            color: var(--content-primary);
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      & li:not(:last-child) {
        border-bottom: 1px solid var(--border-primary);
      }
      & li:is(:last-child){
       margin-bottom: 1.25rem;
      }
      & li:is(:first-child){
       margin-top: .75rem;
      }
    }
  }
}

@media (width <= 70em){
  #agenda.container{
    --max-width: 375px;
    width: calc(100% - 0rem * 2);
    margin-inline: auto;
    padding-inline: 1.25rem;
    padding-block: .75rem;
  }
  #agenda .agenda-header{
    flex-direction: column;
    align-items: flex-start;
  }
  #agenda .agenda-list{
    & .list-section{
      & ul{
        & li{
         display: grid;
         grid-template-columns: repeat(4, auto);
         grid-template-rows: repeat(3, 1fr);
         grid-template-areas: 
         "hour hour animal client"
         "description description description description"
         "button button button button";
         & .hour{
          grid-area: hour;
          text-align: start;
         }
         & .animal-name{
          grid-area: animal;
          text-align: end;
         }
         & .client-name{
          grid-area: client;
          text-align: start;
         }
         & .service-description{
          grid-area: description;
          text-align: start;
          align-self: flex-start;
          padding-block: .5rem;
         }
         & button{
          text-align: start;
          grid-area: button;
         }
        }
        & li:is(:first-child){
          margin-top: 0;
         }
      }
    }
  }

}